/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

/*
    GENERAL
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*
     DEBUG
*/

.debug footer{
    background-color: aqua;
}

.container{
    position: relative;
    padding-top: 100px;
    padding-left: 50px;

    
}
/* .debug .col-1-7 {
    background-color: lightcoral;
    text-align: center;
    padding: 50px 10px;
    border: 5px solid pink
} */

/*
  MAIN
*/

.main-top{
    position:relative;
 }

main{
    height:calc(100vh - 100px);
  }

.my-row {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin:0 auto;
 }

.my-row > div{
    width: calc((100% / 7) - 42px);
    height: 100px;
    margin: 3px;
    background-image: url(https://picsum.photos/id/656/600/400);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: blueviolet;
} 


.container img{
    width: 100%;
}
/* 
   BUTTON-MAIN

*/

.container-button{
    position: absolute;
    height: 4%;
    right: 0;
        
}

.container-button button{
    background-color: #4A4A4A;
    border-radius: 10px;  
    color:white;
    padding:5px;
    margin-top: 5px;
    margin-right: 5px;
}

.speaker-view{
    padding-right: 5px;
}


/*
  FOOTER
*/

footer{
    height: 100px;
    background-color: #36404B;
    position:relative;
 }

.button-footer{
    width: 100px;
}

.microphone-slash{
    text-align: center;
    font-size: 18px;
    color: white;
    display: block;
    margin-top: 10px;

}
.video{
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 10px;
    display: block;
    position: absolute;
    top: 0px;
    left: 80px;
}

.text-button-footer{
    font-size: 10px;
    display: block;
    margin: 10px;
    text-align: center;
    
}



/* footer > .button-footer-2{
    background-color: blue;
    width: 100px;
    border:1px solid black;
} */

