/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

/*
    GENERAL
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*
     DEBUG
*/

.debug{
     border:2px dashed black;
}

.debug main{
    background-color: brown;
}

.debug footer{
    background-color: aqua;
}


/*
  MAIN
*/
main{
    height:calc(100vh - 100px);
  }
 

 footer{
    height: 100px;
 }

 .my-row {
    display: flex;
    flex-wrap: wrap;
 }

img{
    height: 100%;
}
.main-top{
   position:relative;
}

.container-button{
    position: absolute;
    height: 4%;
    right: 0;
        
}

.container-button button{
    background-color: #4A4A4A;
    border-radius: 10px;  
    color:white;
    padding:5px;
}

.speaker-view{
    padding-right: 5px;
}

.col-1-7{
    display:flex;
    justify-content: center;
    align-items: center;

}